
.form-field-icon-wrap select  {
    min-width: 200px;
}

textarea.form-control {
    width: 100%;
}

.hidden {
    display: none !important;
}

.ftco-footer, .footer-widget {
    color: gray;
}

.site-menu ul > li {
    text-align: left;
    padding-left: 35px;
}

.site-menu ul > li a {
    padding-left: 15px;
}

.pointer {
    cursor: pointer;
}

.message__container {
    border-bottom: 1px solid darkgrey;
    margin-bottom: 10px;
}

.header-logo {
    width: 80%;
}

.top-menu-logo {
    height: 50px;
}

.homepage .scrolled a.btn-outline-light,
a.btn-outline-light:not(.homepage_button){
    border: 1px solid black;
    color: black;

    &:hover {
        background-color: black;
        color: white;
    }
}
